@font-face {
    font-family: 'Quincy CF';
    src: url('QuincyCF-Regular.eot');
    src: url('QuincyCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('QuincyCF-Regular.woff2') format('woff2'),
        url('QuincyCF-Regular.woff') format('woff'),
        url('QuincyCF-Regular.ttf') format('truetype'),
        url('QuincyCF-Regular.svg#QuincyCF-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

